<!DOCTYPE html>
<html>

<head>
  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}
</head>

<body>
  {% block body %}

  {% if messages %}
  <div>
    <span class="font-weight-bold">Messages:</span>
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div>
    <span class="font-weight-bold">Menu:</span>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'account_email' %}" class="text-info">Change E-mail</a></li>
      <li><a href="{% url 'account_logout' %}" class="text-info">Sign Out</a></li>
      {% else %}
      <li><a href="{% url 'account_login' %}" class="text-info">Sign In</a></li>
      <li><a href="{% url 'account_signup' %}" class="text-info">Sign Up</a></li>
      {% endif %}
    </ul>
  </div>
  {% block content %}
  {% endblock %}
  {% endblock %}
  {% block extra_body %}
  {% endblock %}
</body>

</html>
